/* Style the "Delete" button */
.dltBtn {
    background-color: #001c36;
    color: white;
    border: none;
    text-align: center;
    font-size: 15px;

    transition-duration: 0.5s;
    width: 30%;

    /*position: absolute;
    bottom: 0;
    right: 0;
    */
}
.dltBtn:hover {
    background-color: #5885AF; /**/
}