.header {
  background-color: #41729F; /*blue #6A6B83*/
  padding: 40px .25px;
  color: white;
  text-align: center;
  width: 100%;
}

#listIcon {
  position: fixed;
  fill: black;
  font-size: 50px;
  left: 28px;
  top: 27px;
}

/* #listIcon:hover {
  background: #a90000;
} */