/* Style the list item */
.lsItem {
    cursor: pointer;
    position: relative;
    padding: 24px .25px;
    transition: 0.2s;
    background: #ADCBCE; /*#C3E0E5*/
    overflow: hidden;
    width: 75%;
    font-size: 18px;
    border: 3px;
    padding-left: 20px;

    display:inline-block;
    border:1px solid #000;


}
li {
    display: flex;
    flex-direction: row;
}

/* Darker background-color on hover */
.lsItem:hover {
    background: #86BBBD; /*#72b2bd*/
}

/* When clicked on, add a background color and strike out text */
.lsItem.complete {
    background: #6A6B83; /*#008197*/
    color: #fff;
    text-decoration: line-through;
}

/* When double tapped, hide tasks that are marked complete */
.hidden {
    display: none;
}
