/* Style the "Hide" button */
.hideBtn {
    background-color: #0878e0; /*#6A6B83*/
    color: white;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 30px 40px;
    transition-duration: 0.5s;
    width: 50%;

    position: absolute;
    bottom: 0;
    left: 0;
}
.hideBtn:hover {
    background-color: #5885AF; /**/
}