/* Style the list item */
.lsItem {
    cursor: pointer;
    position: relative;
    padding: 24px 16px 24px 80px;
    transition: 0.2s;
    background: #ADCBCE; /*#C3E0E5*/
}

/* Darker background-color on hover */
.lsItem:hover {
    background: #86BBBD; /*#72b2bd*/
}

/* When clicked on, add a background color and strike out text */
.lsItem.complete {
    background: #6A6B83; /*#008197*/
    color: #fff;
    text-decoration: line-through;
}