/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 24px 16px 24px 80px;
  background: #eee;
  font-size: 48px;
  transition: 0.2s;
}

/* Set all odd list items to a different color*/
ul li:nth-child(odd) {
  background: #ADCBCE; /*#C3E0E5*/
}

/* Darker background-color on hover */
ul li:hover {
  background: #86BBBD; /*#72b2bd*/
}

/* When clicked on, add a background color and strike out text */
ul li.complete {
  background: #6A6B83; /*#008197*/
  color: #fff;
  text-decoration: line-through;
}

/* Style the header */
.header {
  background-color: #41729F; /*blue #6A6B83*/
  padding: 60px 80px;
  color: white;
  text-align: center;
  font-size: 50px;
}

/* Style the input */
.input {
    display: flex;
    flex-direction: row;
    row-gap: 10px;

}

/* Style the input text box (to add todo)*/
#myInput {
  margin: 8px 0;
  border: none;
  border-radius: 0;
  width: 80%;
  padding: 36px 60px;
  box-sizing: border-box;
  float: left;
  font-size: 48px;
}

/* Style the "Add" button */
#addBtn {
  background-color: #6ba6dd; /**/
  color: white;
  border: none;
  text-align: center;
  width: 20%;
  display: inline-block;
  font-size: 48px;
  padding: 12px;
  transition-duration: 0.5s;
  
}
#addBtn:hover {
  background-color: #5885AF; /**/
}

/* Position the "Hide" "Delete" button */
.option {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Style the "Hide" button */
#hideBtn {
  background-color: #0878e0; /* blue #6A6B83*/
  color: white;
  border: none;
  text-align: center;
  font-size: 48px;
  padding: 30px 40px;
  transition-duration: 0.5s;
  width: 50%;

}
#hideBtn:hover {
    background-color: #5885AF; /**/
}

/* Style the "Delete" button */
#dltBtn {
  background-color: #001c36;
  color: white;
  border: none;
  text-align: center;
  font-size: 48px;
  padding: 30px 40px;
  transition-duration: 0.5s;
  width: 50%;

}
#dltBtn:hover {
    background-color: #5885AF; /**/
}

#typing {
  padding: 15px;
  box-sizing: border-box;
  border: none;
  font-size: 35px;
  background-color: transparent;

}